apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: ${SERVICE_NAME}
  labels:
    cloud.googleapis.com/location: ${REGION}
spec:
  template:
    metadata:
      annotations:
        revision-change-timestamp: "$(date +%s)"
        autoscaling.knative.dev/maxScale: '10'
        autoscaling.knative.dev/minScale: '1'
    spec:
      containerConcurrency: 80
      timeoutSeconds: 30
      serviceAccountName: '${CLOUD_RUN_SA}'
      containers:
        - image: ${REGION}-docker.pkg.dev/${PROJECT_ID}/${ARTIFACT_REPO}/${SERVICE_NAME}@${IMAGE_DIGEST}
          env:
            - name: PROJECT_ID
              value: '${PROJECT_ID}'
            - name: REGION
              value: '${REGION}'
            - name: DATA_STORE_ID
              value: '${DATA_STORE_ID}'
            - name: DATA_STORE_LOCATION
              value: '${DATA_STORE_LOCATION}'
            - name: GCLOUD_STORAGE_BUCKET
              value: '${GCLOUD_STORAGE_BUCKET}'
            - name: GCLOUD_STORAGE_FOLDER
              value: '${GCLOUD_STORAGE_FOLDER}'
            - name: DOCUMENT_BUCKET
              value: '${DOCUMENT_BUCKET}'
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: '${GOOGLE_APPLICATION_CREDENTIALS}'
              
          ports:
            - name: http1
              containerPort: 8080
          resources:
            limits:
              cpu: '1'
              memory: 1Gi

  traffic:
    - percent: 100
      latestRevision: true