name: deployment-service

env:
  STAGE: "dev"
  DATA_STORE_ID: ${{ vars.DATA_STORE_ID }}
  DATA_STORE_LOCATION: ${{ vars.DATA_STORE_LOCATION }}
  DOCUMENT_BUCKET: ${{ vars.DOCUMENT_BUCKET }}
  GCLOUD_STORAGE_BUCKET: ${{ vars.GCLOUD_STORAGE_BUCKET }}
  GCLOUD_STORAGE_FOLDER: ${{ vars.GCLOUD_STORAGE_FOLDER }}
  GOOGLE_APPLICATION_CREDENTIALS: ${{ vars.GOOGLE_APPLICATION_CREDENTIALS }}
  PROJECT_ID: ${{ vars.PROJECT_ID }}
  REGION: ${{ vars.REGION }}
  TOPIC_DOCUMENT_PROCESSOR: ""
  ARTIFACT_REPO: ${{ vars.ARTIFACT_REPO }}
  CLOUD_RUN_SA: ${{ vars.CLOUD_RUN_SA }}
  SERVICE_NAME: ${{ vars.SERVICE_NAME }}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy-service:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Google Cloud Auth
        id  : auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA }}'
          project_id: ${{ vars.PROJECT_ID }}

      - name: Set up Cloud SDK
        id  : setup
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Configure Docker
        id  : docker-auth
        run: |
          gcloud auth configure-docker ${{ vars.REGION }}-docker.pkg.dev

      - name: Build and Push Docker Image
        id  : build-image
        run: |
          echo "PROJECT_ID=${{ env.PROJECT_ID }}" >> .env
          echo "DATA_STORE_ID=${{ env.DATA_STORE_ID }}" >> .env
          echo "DATA_STORE_LOCATION=${{ env.DATA_STORE_LOCATION }}" >> .env
          echo "GCLOUD_STORAGE_BUCKET=${{ env.GCLOUD_STORAGE_BUCKET }}" >> .env
          echo "GCLOUD_STORAGE_FOLDER=${{ env.GCLOUD_STORAGE_FOLDER }}" >> .env
          echo "REGION=${{ env.REGION }}" >> .env
          echo "TOPIC_DOCUMENT_PROCESSOR=${{ env.TOPIC_DOCUMENT_PROCESSOR }}" >> .env
          echo "DOCUMENT_BUCKET=${{ env.DOCUMENT_BUCKET }}" >> .env
          echo "GOOGLE_APPLICATION_CREDENTIALS=${{ env.GOOGLE_APPLICATION_CREDENTIALS }}" >> .env

          OUTPUT=$(docker build -t ${{ vars.REGION }}-docker.pkg.dev/${{ vars.PROJECT_ID }}/${{ vars.ARTIFACT_REPO }}/${{ vars.SERVICE_NAME }}:latest . \
          && docker push ${{ vars.REGION }}-docker.pkg.dev/${{ vars.PROJECT_ID }}/${{ vars.ARTIFACT_REPO }}/${{ vars.SERVICE_NAME }}:latest)
          IMAGE_DIGEST=$(echo "$OUTPUT" | grep "digest: sha256" | awk '{print $3}')

          echo "IMAGE_DIGEST=$IMAGE_DIGEST" >> $GITHUB_ENV
          cat .env


      - name: Declarations
        run: |
          source .env
          IMAGE_DIGEST=$IMAGE_DIGEST envsubst < ./service.yaml > ./service.yaml.tmp
          mv ./service.yaml.tmp ./service.yaml
          cat ./service.yaml

      - name: Deploy New to Cloud Run
        id  : deploy
        run: |
          gcloud run services replace ./service.yaml

      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}